.footer{
	background-color: #BBC6FE;
	color: #151725;
	
	&_text{
		font-size: 19px;
		color: #151725;
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&_img{
		
		background-color: #000;
		width: 30px;
		height: 30px;	
		margin-top: 26px;
		display: inline-block;
		margin-left: 13px;
		margin-right: 13px;
		margin-left: 30px;
	}
}